acer_iconia_toolkit_v0.9.0.zip
changelog.txt.bak
bin/posix/64/dmesg.txt
bin/posix/64/logcat.txt
bin/posix/64/logcat.txt~
bin/posix/64/logcat1.txt
bin/nt/64/last_kmsg
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Installer-Recovery/META-INF/CERT.RSA
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Installer-Recovery/META-INF/CERT.SF
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Installer-Recovery/META-INF/com/google/android/update-binary
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Disabler-Recovery/META-INF/CERT.RSA
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Disabler-Recovery/META-INF/CERT.SF
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Disabler-Recovery/META-INF/com/google/android/update-binary
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Disabler-Recovery/META-INF/MANIFEST.MF
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Installer-Recovery/META-INF/MANIFEST.MF
bin/de.robv.android.xposed.installer_v33_36570c/AndroidManifest.xml
bin/de.robv.android.xposed.installer_v33_36570c/assets/arm/app_process_xposed_sdk15
bin/de.robv.android.xposed.installer_v33_36570c/assets/arm/busybox-xposed
bin/de.robv.android.xposed.installer_v33_36570c/assets/x86/app_process_xposed_sdk15
bin/de.robv.android.xposed.installer_v33_36570c/assets/x86/app_process_xposed_sdk16
bin/de.robv.android.xposed.installer_v33_36570c/assets/x86/busybox-xposed
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Disabler-Recovery.zip
bin/de.robv.android.xposed.installer_v33_36570c/assets/Xposed-Installer-Recovery.zip
bin/de.robv.android.xposed.installer_v33_36570c/classes.dex
bin/de.robv.android.xposed.installer_v33_36570c/META-INF/CERT.RSA
bin/de.robv.android.xposed.installer_v33_36570c/META-INF/CERT.SF
bin/de.robv.android.xposed.installer_v33_36570c/META-INF/MANIFEST.MF
bin/de.robv.android.xposed.installer_v33_36570c/NOTICE.txt
bin/de.robv.android.xposed.installer_v33_36570c/res/anim/slide_in_left.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/anim/slide_in_right.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-hdpi/ic_launcher.png
bin/de.robv.android.xposed.installer_v33_36570c/res/anim/slide_out_left.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/anim/slide_out_right.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-hdpi/ic_menu_refresh.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-hdpi/ic_notification.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-ldpi/ic_launcher.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-ldpi/ic_menu_refresh.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-ldpi/ic_notification.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-mdpi/ic_launcher.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-mdpi/ic_menu_refresh.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-mdpi/ic_notification.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-xhdpi/ic_launcher.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-xhdpi/ic_menu_refresh.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-xhdpi/ic_notification.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-xxhdpi/ic_launcher.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-xxhdpi/ic_menu_refresh.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable-xxhdpi/ic_notification.png
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable/background_card_black.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable/background_card_dark.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable/background_card_light.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable/background_card_normal_black.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable/background_card_normal_dark.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable/background_card_normal_light.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable/background_card_pressed_black.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable/background_card_pressed_dark.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/drawable/background_card_pressed_light.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/activity_download_details.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/activity_download_details_not_found.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/activity_welcome.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/dialog_install_warning.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/download_details.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/download_moreinfo.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/download_view.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/list_item_download.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/list_item_module.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/list_item_version.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/list_item_welcome.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/list_sticky_header_download.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/tab_about.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/tab_downloader.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/tab_installer.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/tab_logs.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/layout/xposed_not_active_note.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/menu/context_menu_modules.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/menu/menu_download.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/menu/menu_download_details.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/menu/menu_logs.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/xml/module_prefs.xml
bin/de.robv.android.xposed.installer_v33_36570c/res/xml/prefs.xml
bin/de.robv.android.xposed.installer_v33_36570c/resources.arsc
bin/UPDATE-SuperSU-v2.40/arm/chattr
bin/UPDATE-SuperSU-v2.40/arm/chattr.pie
bin/UPDATE-SuperSU-v2.40/arm/libsupol.so
bin/UPDATE-SuperSU-v2.40/arm/su
bin/UPDATE-SuperSU-v2.40/arm/supolicy
bin/UPDATE-SuperSU-v2.40/arm64/libsupol.so
bin/UPDATE-SuperSU-v2.40/arm64/su
bin/UPDATE-SuperSU-v2.40/arm64/supolicy
bin/UPDATE-SuperSU-v2.40/armv7/chattr.pie
bin/UPDATE-SuperSU-v2.40/common/99SuperSUDaemon
bin/UPDATE-SuperSU-v2.40/META-INF/CERT.RSA
bin/UPDATE-SuperSU-v2.40/META-INF/CERT.SF
bin/UPDATE-SuperSU-v2.40/META-INF/com/google/android/update-binary
bin/UPDATE-SuperSU-v2.40/META-INF/com/google/android/updater-script
bin/UPDATE-SuperSU-v2.40/META-INF/MANIFEST.MF
bin/UPDATE-SuperSU-v2.40/mips/chattr.pie
bin/UPDATE-SuperSU-v2.40/mips/libsupol.so
bin/UPDATE-SuperSU-v2.40/mips/su
bin/UPDATE-SuperSU-v2.40/mips/supolicy
bin/UPDATE-SuperSU-v2.40/mips64/libsupol.so
bin/UPDATE-SuperSU-v2.40/mips64/su
bin/UPDATE-SuperSU-v2.40/mips64/supolicy
bin/UPDATE-SuperSU-v2.40/x64/libsupol.so
bin/UPDATE-SuperSU-v2.40/x64/su
bin/UPDATE-SuperSU-v2.40/x64/supolicy
bin/UPDATE-SuperSU-v2.40/x86/chattr
bin/UPDATE-SuperSU-v2.40/x86/chattr.pie
bin/UPDATE-SuperSU-v2.40/x86/libsupol.so
bin/UPDATE-SuperSU-v2.40/x86/su
bin/UPDATE-SuperSU-v2.40/x86/supolicy